.settings-item {
    padding-left: 13%;
}

#organization-details {
    padding-top: 3%;
}

#organization-home-title{
    margin-left: 3%;
}

#DocumentFileUpload {
    display: none;
    position: absolute;
    top: 55%;
    left: 0;
    width: 30%;
    z-index: 1000;
}

#CreteProjectPanel {
    position: absolute;
    top: 0;
}

textarea {
    resize: vertical;
}